
/* HEADER*/
.header {
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  color: white;
  padding: 4rem 2rem;
  text-align: center;
  margin-bottom: 3rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -1px;
}
.header h2 {
  font-size: 1.5rem;
  color: #a6c1ee; 
  /* color dorado): color: #ffd700; */
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.header p {
  font-size: 1.2rem;
  opacity: 0.9;
  font-weight: 300;
}

/* CONTENEDOR DE LA REJILLA */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem 4rem 2rem; 
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
  gap: 2.5rem;
}